.introduction-flex-display{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.introduction-flex-item{
    flex:1;
    min-width:15em;
    padding:10px;
    height:70%;
    max-height:5%;
}
.picture{
    position:absolute;
    display:block;
    width:30em;
    left:50%;
    margin-left:-15em;
    
}

.picture:nth-child(2){
    transform:scale(0,0);
    opacity:0;
    transition: all 2.5s ease;
}
.picture:nth-child(1){
    padding-top:2em;
    transform:scale(1,1);
    opacity:1;
    transition: all 2.5s ease;
}
.picture-container{
    position:relative;
    height:30em;
}
.picture-container:hover .picture:nth-child(1){
    opacity:0;
    transform:scale(0,0);
}

.picture-container:hover .picture:nth-child(2){
    transform:scale(0.75,0.75);
    opacity:1;
    border-radius:50%;
}