.section-title{
    margin: 1em auto;
    height:auto;
    padding: 10px;
    font-size:4.2 em;
    color: #D8C3A5;
    border-top: 2px solid  #D8C3A5;
    border-bottom: 2px solid  #D8C3A5;
    width:30%;
    max-width:15em;
    text-align:center;
    overflow:hidden;
}
