.about-flex-container{

    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-radius:5%;
}
.about-us .about-us-title{
    width:100%;
    font-family:fantasy;
    text-align:center;
    padding-top:1em;
    font-size:3em;
    color:#c9675a;
}
.about-flex-item{
    flex:1;
    min-width: 11em;
    max-width: 18em;
    margin:1em;
    height:25em;
  
}
.about-flex-container div.about-flex-item:first-of-type .card-front{
    color:#dac4f7 ;
    border:3px solid #dac4f7 ;
}
.about-flex-container div.about-flex-item:nth-of-type(2) .card-front{
    
    color:#ffb997 ;
    border: 3px solid #ffb997 ;
}
.about-flex-container div.about-flex-item:nth-of-type(3) .card-front{
  
    color:#f4989c;
    border: 3px solid #f4989c;
}
.about-flex-container div.about-flex-item:nth-of-type(4) .card-front{
    color:#86bb91;
    border: 3px solid #86bb91
}
.about-flex-container div.about-flex-item:first-of-type .card-back{
    border-color:#dac4f7 ;
}
.about-flex-container div.about-flex-item:nth-of-type(2) .card-back{
    border-color:#ffb997 ;
}
.about-flex-container div.about-flex-item:nth-of-type(3) .card-back{
    border-color:#f4989c;
}
.about-flex-container div.about-flex-item:nth-of-type(4) .card-back{
    border-color:#86bb91;
}